<footer>
    <div class="ftr-info">
        <div class="ftr-info-socials">
           <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a> 
           <a href="https://www.instagram.com/"> <i class="fa-brands fa-instagram"></i></a>
           <a href="https://www.twitter.com/"> <i class="fa-brands fa-x-twitter"></i></a>
           <a href="https://www.snapchat.com/"> <i class="fa-brands fa-snapchat"></i></a>
           <a href="https://www.whatsapp.com/"> <i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="ftr-info-brand">Wander lust Limited</div>
        <div class="ftr-info-links">
            <div class="link">
                <a href="/privacy">Privacy</a>
             <a href="/terms">Terms</a>
            </div>
        </div>
    </div>
</footer>