<% layout('/layouts/boilerplate') %>
<body>
<h3>All Listings</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>CREATE</button>
    </form> -->
    <div class="row row-col-lg-3 row-col-md-2 row-col-sm-1 all-card">
    <% for (let listing of allListings){ %> 
    <div class="card" style="width: 18rem;">
    <a class="list-link" href="/listings/<%= listing._id %>">
    <img src="<%= listing.image.url %>" class="card-img-top" alt="Resort image">
    <div class="card-img-overlay"></div>
    <div class="card-body">
    <p class="card-text"><b><%= listing.title %></b> <br>
    &#8360;  <%= listing.price %>/night</p>
    </div>
    </a>
</div>
<% } %>
</div>
</body> 
    
